
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body style="background-image:url(/Content/images/background.jpg);background-size:cover;">
    
    <div class="container">
        <div class="jumbotron">
            <center>
                <font size="8">YERLİ ARAMA MOTORU</font>
                <br />
                <p>BU PROJEDE ARAMA MOTORUNA AİT OPERASYONLAR ELE ALINIP ÇALIŞMALAR YAPILMIŞTIR.</p>
            </center>

            <hr />

            <center>

                <a href="/URLdeSay/Index" class="btn-lg btn-primary">Anahtar Kelime Saydırma</a>
                <a href="/SayfaSiralama/Index" class="btn-lg btn-primary">Sayfa Sıralama</a>
                <a href="/SiteSiralama/Index" class="btn-lg btn-primary">Site Sıralama</a>
                <a href="/SemantikAnaliz/Index" class="btn-lg btn-primary">Semantik Analiz</a>

            </center>

        </div>
        

    </div>

</body>
</html>
