@{
    ViewBag.Title = "UrldeSaySonuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Yazlab_13.Models

@{
    List<SonucModel> liste = (List<SonucModel>)TempData["liste"];
}

<div class="container">

    <br />
    <br />
    <center><h3>SEMANTİK ANALİZ SONUÇLARI</h3></center>
    <hr />

    @for (int i = 0; i < liste.Count; i++)
    {
        SonucModel sonuc = liste.ElementAt(i);

        <div class="col-md-6 col-xs-6" style="border:1px solid black;border-radius:5px;padding:10px;margin-left:30%;margin-top:20px;">
            <div class="" style="width:100%;border:1px dotted black;">
                <h4><span class="badge">@sonuc.puan</span>  @sonuc.baslik</h4>
            </div>
            <div class="" style="width:100%;border:1px dotted black;padding:5px;">
                <a href="@sonuc.url" class="btn-link">@sonuc.url</a>
            </div>
        </div>

    }


</div>