
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />

<center>
    <h4>140201034 TS</h4>
    <h4>140201050 &nbsp;&nbsp; ÇİLLER &nbsp; TAŞ</h4>
</center>
